<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="container">
  <form [formGroup]="transferForm" (ngSubmit)="transfer()" method="post">
    <div class="col-xs-4" style="left: 35%">
      <h3 style="text-align: center">Transfer Money</h3>
    </div>
    <br />

    <div class="form-group" style="text-align: center">
      <label>Account Number : </label> <label>{{ saccountno }} </label>
    </div>

    <div class="form-group">
      <label>Enter the IFSC Code of the account to be transfered to:</label>
      <br />
      <input
        type="text"
        formControlName="ifscNo"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && fval.ifscNo.errors }"
        placeholder="Enter Receivers IFSC Code"
      />
      <div *ngIf="submitted && fval.ifscNo.errors" class="invalid-feedback">
        <div *ngIf="fval.ifscNo.errors.required">IFSC Code is required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Enter the account number you would like to transfer To:</label>
      <br />
      <input
        type="text"
        formControlName="raccountNo"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && fval.raccountNo.errors }"
        placeholder="Enter Receiver's account number"
      />
      <div *ngIf="submitted && fval.raccountNo.errors" class="invalid-feedback">
        <div *ngIf="fval.raccountNo.errors.required">
          Account number is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Enter Amount:</label>
      <br />
      <input
        type="text"
        formControlName="amount"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && fval.amount.errors }"
        placeholder="Enter amount"
      />
      <div *ngIf="submitted && fval.amount.errors" class="invalid-feedback">
        <div *ngIf="fval.amount.errors.required">Amount is required</div>
      </div>
    </div>

    <div class="center1">
      <button
        [disabled]="loading"
        class="btn btn-primary"
        class="btn btn-info form-control"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        <a (click)="transfer()" style="color: white">Transfer</a>
      </button>
    </div>
  </form>
</div>