<div class="container">
  <h3>Transfer Money</h3>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="transferForm">
        <div class="row">
          <div class="col">
            <label> Your Account Number : </label>
            <input type="text" value={{savingAccount}} readonly class="form-control" placeholder=""
              aria-label="your account number">
          </div>
          <div class="col">
            <label>Receiver Account Number : </label>
            <input type="text" formControlName="primaryAccount" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.primaryAccount.errors }"
              placeholder="Enter Receiver's account number" />
            <div *ngIf="submitted && fval.primaryAccount.errors" class="invalid-feedback">
              <div *ngIf="fval.primaryAccount.errors.required">
                Account number is required
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <label> IFSC Code : </label>
            <input type="text" formControlName="ifscNo" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.ifscNo.errors }" placeholder="Enter Receivers IFSC Code" />
            <div *ngIf="submitted && fval.ifscNo.errors" class="invalid-feedback">
              <div *ngIf="fval.ifscNo.errors.required">IFSC Code is required</div>
            </div>
          </div>
          <div class="col">
            <label>Amount : </label>
            <input type="text" formControlName="amount" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.amount.errors }"
              placeholder="Enter Transfer Amount" />
            <div *ngIf="submitted && fval.amount.errors" class="invalid-feedback">
              <div *ngIf="fval.amount.errors.required">Amount is required</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row mt-3">
          <div class="col text-center">
            <button [disabled]="loading" class="btn btn-primary" class="btn btn-info">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <a (click)="transfer()">Transfer</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>