<footer class="app-footer" *ngIf="(isLoggedIn | async) ||(isRegsiter | async)">

  <section class="footer-section-1">
    <div class="container">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">
            <i class="fa-solid fa-building-columns"></i>
            ICIN BANK
          </h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            ICIN Bank offers different type of accounts to meet your financial goals and secure your future.
            Choose from our wide range of deposit products that are specifically designed to keep your unique
            requirements in mind.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark">Money Transfer</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Home Laon</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Business Loan</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Foreign Exchange</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Quick links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-dark">Open Account</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Credit Cards</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Fix Deposit</a>
          </p>
          <p>
            <a href="#!" class="text-dark">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p><i class="fas fa-home mr-3"></i> Andheri, MUMBAI- 400096</p>
          <p><i class="fas fa-envelope mr-3"></i>info@icin.com</p>
          <p><i class="fas fa-phone mr-3"></i> 022 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> 022 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  <section class="footer-section-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          © 2022 Copyright:
          <a class="text-dark" href="#">ICIN Bank</a>
        </div>
        <div class="col-lg-8">
          <div class="float-end">
            <span>Get connected with us on social networks: </span>
            <span>
              <a href="" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="" class="text-white me-4">
                <i class="fab fa-github"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

</footer>