<div class="container">
  <h3>Request Cheque Book</h3>
  <div class="card">
    <div class="card-body">

      <div class="row">
        <div class="col">
          <label> Your Account Number : </label>
          <input type="text" value={{requestingAccNo}} readonly class="form-control" placeholder=""
            aria-label="your account number">
        </div>
        <div class="col">
          <label>ChequeBook pages</label>
          <select class="form-control" (change)="$any($event.target).value">
            <option *ngFor="let p of pages" [value]="p.value">
              {{ p.name }}
            </option>
          </select>
        </div>
        <div class="row mt-3">
          <div class="col">
            <button (click)="setOption()" class="btn btn-info">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Request Chequebook
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>