
  <div class="container col-xs-4">
    <h3 style="text-align: center">Request Cheque Book</h3>
    <div class="form-group">
      <div style="text-align: center" class="form-group">
        <label>Account Number :&nbsp;</label> <label>{{ requestingAccNo }}</label>
      </div>
    </div>
  
    <div class="form-group">
      <label>ChequeBook pages</label>
      <br />
      <select class="form-control" (change)="$any($event.target).value">
        <option *ngFor="let p of pages" [value]="p.value">
          {{ p.name }}
        </option>
      </select>
      <br />
      <button (click)="setOption()" class="btn btn-info form-control">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span
        >Request Chequebook
      </button>
      <br />
    </div>
  </div>