<div class="container">
  <h3>Withdraw Money</h3>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()" method="post">
        <div class="row">
          <div class="col">
            <label> Your Account Number : </label>
            <input type="text" value={{savingAccount}} readonly class="form-control" placeholder=""
              aria-label="your account number">
          </div>
          <div class="col">
            <label>Enter Amount:</label>
            <input type="text" formControlName="amount" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && fval.amount.errors }" placeholder="Enter amount" />
            <div *ngIf="submitted && fval.amount.errors" class="invalid-feedback">
              <div *ngIf="fval.amount.errors.required">Amount is required</div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">              
              <button [disabled]="loading" class="btn btn-primary" class="btn btn-info">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <a (click)="withdraw()" style="color: rgb(255, 255, 255)">Withdraw</a>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>